html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-rounded, system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Rounded',
    'SF Pro Display', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

button {
  font-family: inherit;
}
